# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Environment Variables
.env
.env.local
.env.*

# Celery
celerybeat-schedule
celerybeat.pid

# IDEs and OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Packages and Environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Miscellaneous
docs/learning-plan.md
pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/